.container
  display: table
  height: 100%
  text-align: center
  width: 100%

  h1
    font-size: 50px
    color: $font_color

  h3
    color: #BBCEE9
    font-size: 24px

  &>div
    display: table-cell
    vertical-align: middle

  .sa_form
    display: inline-block

    .field
      input[type=text]
        @include sa_form_font
        background-color: $main_color
        color: $base_color
        border: none
        display: block
        padding: 0.6em 1em
        margin-bottom: 0.5em
        width: 100%

      .status
        position: absolute
        display: table
        left: 850px
        min-height: 56px
        font-size: 15px
        font-weight: 700

        .git_status
          display: table-cell
          vertical-align: middle

    button
      @include sa_form_font
      @include button_base_style
      padding: .6em 0em

      &:hover
        position: relative
        top: 2px

      &#edit
        background-color: #169021
        margin-bottom: 20px

      &#logout
        background-color: #D03E3E
