.container
  .login
    h1
      margin-bottom: -7px

    h3
      margin-bottom: 50px

    button#register
      padding-left: 40px
      padding-right: 29px

    .fa
      margin-left: 14px
      font-size: 56px
      vertical-align: middle
